<%- include('../layouts/header') %>

<!doctype html>
<html lang="en">
    
<!-- Mirrored from 3.37.186.116/register.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 21 May 2024 15:37:41 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
        <!--Required Meta Tags-->
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="description">
        <!-- Title Of Site -->
        <title>Create An Account - Optimal Multipurpose eCommerce Bootstrap 5 Html Template</title>
        <!-- Favicon -->
        <link rel="shortcut icon" href="assets/images/favicon.png" />
        <!-- Plugins CSS -->
        <link rel="stylesheet" href="assets/css/plugins.css" />
        <!-- Main Style CSS -->
        <link rel="stylesheet" href="assets/css/style.css" />
        <link rel="stylesheet" href="assets/css/responsive.css" />
    </head>

    <body class="category-page category-empty" onload="loadpage()">
        <!-- Page Loader -->
        <div id="pre-loader"><img src="assets/images/loader.gif" alt="Loading..." /></div>
        <!-- End Page Loader -->

        <!--Page Wrapper-->
        <div class="page-wrapper">
            <!--Header-->
            <div id="header" class="header">
                <div class="header-main">
                    <header class="header-wrap container d-flex align-items-center">
                        <div class="row g-0 align-items-center w-100">
                            <!--Social Icons-->
                            <div class="col-4 col-sm-4 col-md-4 col-lg-5 d-none d-lg-block">
                                <ul class="social-icons list-inline">
                                   
                                </ul>
                            </div>
                            <!--End Social Icons-->
                            <!--Logo / Menu Toggle-->
                            <div class="col-6 col-sm-6 col-md-6 col-lg-2 d-flex">
                                <!--Mobile Toggle-->
                                <button type="button" class="btn--link site-header__menu js-mobile-nav-toggle mobile-nav--open me-3 d-lg-none"><i class="icon an an-times-l"></i><i class="icon an an-bars-l"></i></button>
                                <!--End Mobile Toggle-->
                                <!--Logo-->
                                <div class="logo mx-lg-auto"><a href="index.html"><span class="logo-txt">BOOGY</span></a></div>
                                <!--End Logo-->
                            </div>
                            <!--End Logo / Menu Toggle-->
                            <!--Right Action-->
                            <div class="col-6 col-sm-6 col-md-6 col-lg-5 icons-col text-right d-flex justify-content-end">
                                <!--Search-->
                                <div class="site-search iconset"><i class="icon an an-search-l"></i><span class="tooltip-label">Search</span></div>
                                <!--End Search-->
                                <!--Wishlist-->
                                <div class="wishlist-link iconset">
                                    <a href="my-wishlist.html"><i class="icon an an-heart-l"></i><span class="tooltip-label">Wishlist</span></a>
                                </div>
                                <!--End Wishlist-->
                                <!--Setting Dropdown-->
                                <div class="user-link iconset"><i class="icon an an-user-expand"></i><span class="tooltip-label">Account</span></div>
                                <div id="userLinks">
                                    <ul class="user-links">
                                        <% if(user !== null){ %>
                                            <li><a href="/loadProfile">Profile</a></li>
                                            <li><a href="/orderHistory">Orders</a></li>
                                            <li><a href="/loadWishlist">Wishlist</a></li>
                                            <li><a href="/UserLogout">Logout</a></li>
                                         <% }else{ %>
                                                <li><a href="/login">Login</a></li>
                                                <li><a href="/register">Sign Up</a></li>
                                                <li><a href="/loadWishlist">Wishlist</a></li> 
                                        <% } %>
                                    </ul>
                                </div>
                                <!--End Setting Dropdown-->
                                <!--Minicart Drawer-->
                                <div class="header-cart iconset">
                                    <a href="cart-style1.html" class="site-header__cart btn-minicart" data-bs-toggle="modal" data-bs-target="#minicart-drawer">
                                        <i class="icon an an-sq-bag"></i><span class="tooltip-label">Cart</span>
                                    </a>
                                </div>
                                <!--End Minicart Drawer-->
                                <!--Setting Dropdown-->
                                <div class="setting-link iconset pe-0"><i class="icon an an-right-bar-s"></i><span class="tooltip-label">Settings</span></div>
                                <div id="settingsBox">
                                   
                                  
                                </div>
                                <!--End Setting Dropdown-->
                            </div>
                            <!--End Right Action-->
                        </div>
                    </header>
                    <!--Main Navigation Desktop-->
                    <div class="menu-outer">
                        <nav class="container">
                            <div class="row">
                                <div class="col-1 col-sm-12 col-md-12 col-lg-12 align-self-center d-menu-col">
                                    <!--Desktop Menu-->
                                    <nav class="grid__item" id="AccessibleNav">
                                        <ul id="siteNav" class="site-nav medium center hidearrow">
                                            <li class="lvl1 parent megamenu"><a href="/">Home <i class="an an-angle-down-l"></i></a></li>
                                            <li class="lvl1 parent megamenu"><a href="/loadShopPAge">Shop <i class="an an-angle-down-l"></i></a></li>
                                        </ul>
                                    </nav>
                                    <!--End Desktop Menu-->
                                </div>
                            </div>
                        </nav>
                    </div>
                   
                </div>
            </div>
            <!--End Header-->

            <!--Body Container-->
            <div id="page-content">
                <!--Collection Banner-->
                <div class="collection-header">
                    <div class="collection-hero">
                        <div class="collection-hero__image"></div>
                        <div class="collection-hero__title-wrapper container">
                            <h1 class="collection-hero__title">Create An Account</h1>
                        </div>
                    </div>
                </div>
                <!--End Collection Banner-->

                <!--Container-->
                <div class="container">
                    <!--Main Content-->
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 box mt-2 mt-lg-5">	
                            <h3 class="h4 text-uppercase mb-3">Personal Information</h3>
                            <div id="message" class="text-center fw-bold text-danger"></div>
                            <form id="register_form"  accept-charset="UTF-8" class="customer-form">
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label for="CustomerFirstName" class="d-none">First Name <span class="required">*</span></label>
                                            <input id="firstName" type="text" name="customer[first-name]" placeholder="First Name" required />
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label for="CustomerLastName" class="d-none">Last Name <span class="required">*</span></label>
                                            <input id="lastName" type="text" name="customer[Last-name]" placeholder="Last Name" required />                       	
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group">
                                            <label for="CustomerEmail" class="d-none">Email Address <span class="required">*</span></label>
                                            <input id="email" type="email" name="customer[email]" placeholder="Email" required />                        	
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                   
                                </div>
                                <h3 class="h4 text-uppercase mb-3">Login Information</h3>
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-md-6 col-lg-6">                                	
                                        <div class="form-group">
                                            <label for="CustomerPassword" class="d-none">Password <span class="required">*</span></label>
                                            <input id="password" type="password" name="customer[Password]" placeholder="Password" required />
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label for="CustomerConfirmPassword" class="d-none">Confirm Password <span class="required">*</span></label>
                                            <input id="confirmpassword" type="Password" name="customer[ConfirmPassword]" placeholder="Confirm Password" required />                        	
                                        </div>
                                    </div>
                                </div>
                                <p class="text-danger text-center" id="submit-error"></p>
                                <div class="row">
                                    <div class="text-left col-12 col-sm-12 col-md-6 col-lg-6">
                                        <input type="submit" class="btn rounded mb-3" value="Submit">
                                        <!-- <a href="/ecommerce/views/user/registerotp.ejs"></a> -->
                                    </div>
                                    <div class="text-right col-12 col-sm-12 col-md-6 col-lg-6">
                                        <a href="/login"><i class="align-middle icon an an-an-double-left me-2"></i>Back To Login</a>
                                    </div>
                                    <div class="google-signin">
                                        <a href="/auth/google" class="btn btn-google">
                                            <i class="icon an an-google"></i> Sign in with Google
                                        </a>
                                    </div>
                                </div>
                            </form>                       
                        </div>
                    </div>
                    <!--End Main Content-->
                </div>
                <!--End Container-->
            </div>
            <!--End Body Container-->

            <!--Footer-->
            <div class="footer footer-1">
                <div class="footer-top clearfix">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center about-col mb-4">
                                <div class="logo mx-lg-auto"><a href="index.html"><span class="logo-txt">BOOGY</span></a></div>
                                <p>can you see...</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-4 col-lg-3 footer-links">
                                <h4 class="h4">Informations</h4>
                                <ul>
                                    <li><a href="my-account.html">My Account</a></li>
                                    <li><a href="aboutus-style1.html">About us</a></li>
                                    <li><a href="login.html">Login</a></li>
                                    <li><a href="privacy-policy.html">Privacy policy</a></li>
                                    <li><a href="#">Terms &amp; condition</a></li>
                                </ul>
                            </div>
                            <div class="col-12 col-sm-12 col-md-4 col-lg-2 footer-links">
                                <h4 class="h4">Quick Shop</h4>
                                
                            </div>
                            <div class="col-12 col-sm-12 col-md-4 col-lg-3 footer-links">
                                <h4 class="h4">Customer Services</h4>
                                <ul>
                                    <li><a href="#">Request Personal Data</a></li>
                                    <li><a href="faqs-style1.html">FAQ's</a></li>
                                    <li><a href="contact-style1.html">Contact Us</a></li>
                                    <li><a href="#">Orders and Returns</a></li>
                                    <li><a href="#">Support Center</a></li>
                                </ul>
                            </div>
                      
                        </div>
                    </div>
                </div>
                
            </div>
            <!--End Footer-->

            <!--Scoll Top-->
            <span id="site-scroll"><i class="icon an an-chevron-up"></i></span>
            <!--End Scoll Top-->

            <!--End MiniCart Drawer-->
            <div class="modalOverly"></div>


            <!-- Including Jquery -->
            <script src="assets/js/vendor/jquery-min.js"></script>
            <script src="assets/js/vendor/js.cookie.js"></script>
            <!--Including Javascript-->
            <script src="assets/js/plugins.js"></script>
            <script src="assets/js/main.js"></script>
            <script src="/user/js/register.js"></script>

        </div>
        <!--End Page Wrapper-->
        <%- include('../layouts/footer') %>



